.hidden {
    display: none;
}

#popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Create a container to hold the three columns */
.container {
    display: flex; /* Use flexbox to create columns */
    max-width: 1200px; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Add some padding for spacing */
}

/* Style each column */
.column {
    flex: 1; /* Make each column grow to fill available space */
    padding: 10px; /* Add padding for spacing within columns */
    display: flex; /* Use flexbox to center content vertically and horizontally */
    flex-direction: column; /* Stack content vertically within each column */
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center text content horizontally */
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    overflow: hidden;
    border: 1px solid #ccc;
    margin: 0 auto; /* Center the container horizontally */
    justify-content: center; 
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 16px;
    font-size: 24px;
    color: #333;
    z-index: 1; /* Ensure the arrows appear above the slides */
}

.prev {
    left: 2px; /* Adjust the left position as needed */
}

.next {
    right: 2px; /* Adjust the right position as needed */
}

.ul {
    list-style-type: none; /* Remove list-style-type (dots) */
}
