{% extends "layout.html" %}
{% block content %}


    <button id="show-popup">¡Comenzar a Transmitir!</button>

    <div id="popup-container" class="hidden">
        <div id="popup-content">
            <span id="close-popup">X</span>
            <h2>Empezar a transmitir</h2>
            <form method="POST" action="/create_stream" id="insert_stream_form">
                <label for="title">Name:</label>
                <input type="text" id="title" name="title" required>
                <button type="submit">Crear transmisión</button>
            </form>
        </div>
    </div>
    
    
    <div class="container">
        <div class="column">
            <div class="nested-column">
                <h1>TRANSMISIONES ACTUALMENTE EN VIVO</h1>
                <div class="slideshow-container">
                    <a class="prev" onclick="scrollSlides(-1)">&#10094;</a>
                    <div class="slides">
                    {% for data in streams_data %}
                        <ul>
                            {% set title = data.get('title') %}
                            {% set unique_id = data.get('_id') %}
                            {% set live = data.get('live') %}
                    
                            {% if title is not none and unique_id is not none%}
                                <a href="/streaming/{{ unique_id }}">{{ title }}</a>
                            {% endif %}
                        </ul>
                    {% endfor %}
                    
                    <a class="next" onclick="scrollSlides(1)">&#10095;</a>
                </div>

            </div>
            <h2>Column 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
        </div>
    </div>

    
</body>
</html>


    
    <script src="static/js/create_stream_popup.js"></script>
    <script src="static/js/live_streams_slideshow.js"></script>

{% endblock content %}